.card {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: -4px 24px 28px -17px #C9ACAD;

  @include to(tablet-l) {
    border-top-width: 0;
    box-shadow: none;
  }

  &.b-t-primary {
    border-top: 12px solid $color-primary;
  }
}
