.switch {
  display: inline-block;
  height: 1.6rem;
  position: relative;
  width: 2.5rem;

  &::before {
    content: "No";
    position: absolute;
    left: -1.7rem;
    top: 2px;
  }
  &::after {
    content: "Yes";
    position: absolute;
    right: -1.7rem;
    top: 2px;
  }
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 1.1rem;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 1.1rem;
}

input:checked + .slider {
  background-color: $color-active;
}

input:checked + .slider:before {
  transform: translateX(1rem);
}

.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}
